/*-- scss:defaults --*/
  
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900');

$font-family-sans-serif: 'Noto Sans', sans-serif;
$font-family-monospace: 'Hack','Source Code Pro', Monaco, monospace; 
$code-block-font-size: 1.5em;


  $primary_color:      #4D204E;  // My Purple
  $secondary_color:    #214e20; // Inverse of my purple

  $body-bg:           #fff !default;
  $body-color:        #000 !default;
  $link-color:        #88398a !default;
  $link-color-hover:  $secondary_color !default;
  $presentation-heading-color: $primary_color !default;
  
  $h1-font-size: 1.6em !default;
  $h2-font-size: 1.3em !default;
  $h3-font-size: 1.15em !default;
  $h4-font-size: 1em !default;
  
  $presentation-font-size-root: 25px;
  $presentation-font-smaller: 	0.7;
  $presentation-line-height: 	1.3;
  
  $royal_purple:       #6247aa;
  $platinum:           #d8dbe2;
  $caribbean_current:  #006c67;
  $crimson:            #d72638;
  
  $title_slide_text_color: #fff;
  $title_slide_bg_color: $primary_color;

.upper {
  text-transform: uppercase;
}

a:hover, a:focus {
  color: $secondary_color;
  font-weight: bold;
}

div {
  &.callout {
    font-size: 1.5rem !important;
  }
}

// MY CSS converted to SCSS

/* Design my own 'image over link' class */

.reveal:has(>.secondary) {
  background-color: $caribbean_current;
}

.box {
  padding: 3px;
  border: 2px solid $primary_color;
}


/*-- scss:rules --*/

.boxed {
  padding: 8px;
  border: 2px dashed $primary_color;
}


* {
  --primary-color: #4D204E;
  --secondary-color: #214e20;
}

.title {
    color: $title_slide_text_color !important;
    background-color: $title_slide_bg_color !important;
}

.image-over-link-120 {
  display: inline-block;
  text-align:center;
  padding:2px;
  width:120px;
  border: 1px dashed black;
}

.image-over-link img {
  display:inherit;
  width:inherit;
}

.image-over-link a {
  display:inherit;
  width:inherit;
}

  
.large {
  font-size: 23px;
}

.small {
  font-size: 15px !important;
}

code.sourceCode {
  font-family: 'Hack','Source Code Pro';

  &.cpp, &.c {
    font-size: 1.5rem;
  }

  &.r {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}

.reveal .largerOutput {
  & pre {
    font-size:1.5em;
  }
}

// Callout blocks with titles, the icon was way too low below the text. It was 1em by default, this is better.
.reveal .callout.callout-titled .callout-icon::before {
  margin-top: 0.5em;
}

.highlight-line {  // Class of a currently hightlighted line of code
  background-color: yellow;
}

.alert { // Used for highlighting words (inline or via a :::)`
  color: crimson;
  font-weight: bold;
}

.reveal {
  & h2, h3, h4 {
    font-family: 'Noto Sans', Montserrat, sans-serif;
  }
}
  
.reveal .footer {
  color: #bbb;
}

.reveal .definition {
  background-color: rgba(177, 243, 146, 0.315);
  border-radius: 10px;
  padding: 0px 10px;
}

.reveal .boxed {
  border: 2px dashed black;
}

.reveal .term { //Highlight keywords in text
  color:var(--secondary-color);
  text-shadow: 1px 1px 0px black;
}

.center {
  text-align: center;
}

.central {
  margin-left: auto;
  margin-right: auto;
  display: inline;
}

.right {
  margin-right: 0;
  margin-left: auto;
  display: inline;
}

.w-25 {
  width: 25%;
}